.card { 
  margin: 1em;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.footer-in-progress {
  font-weight: bold;
  background-color: lightgoldenrodyellow;
}

.footer-done {
  font-weight: bold;
  background-color: lightgreen;
}

.footer-delete {
  font-weight: bold;
  background-color: lightpink;
}

.task-panel {
  margin: 2.5em;
}

.task-panel-empty {
  text-align: center;
  color: #555;
  font-size: large;
}

.add-panel {
  margin: 2.5em;
}

a {
  cursor: pointer;
  color: #555 !important;
}